@import "@/styles/sass/variables";

.welcome {
    // background-color: $third;
    font-weight: 400;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}