@import "@/styles/sass/variables";
@import "@/styles/sass/mixins";

.main {
  background-color: $primary;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: calc(100vh - 91px);

  &>div{
    padding-top: 24px;
  
    @include respond-to($_992) {
      max-width: 900px;
    }
  }
}